@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}





@media screen and (min-width: 1024px) {
    nav {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1.5px solid #fff;
        padding: 0 5%;
        height: 60px;
        z-index: 1000;
        background: none;
        color: #fff;
    }

    nav.sticky {
        background: #fff;
    }
    
    .logo {
        
        position: relative;
        border-right: 1.5px solid #fff;
        width: 150px;
        text-decoration: none;
        /* height: 50px; */
        /* mix-blend-mode: difference; */
        text-decoration: none;
    }

    nav.sticky .logo {
        height: 50px;
        border-right: 1.5px solid #000;
    }
    
    
    .logo h6 {
        font-size: 40px;
        font-weight: 800;
        color: #fff;
        /* mix-blend-mode: difference; */
    }

    nav.sticky .logo h6 {
        font-size: 40px;
        font-weight: 800;
        color: #000;
    }
    
    .logo-span {
        position: absolute;
        left: 95px;
        top: 12px;
        transform: rotate(-90deg);
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        /* mix-blend-mode: difference; */
    }

    nav.sticky .logo-span {
        color: #000;
        left: 95px;
        top: 12px;
        transform: rotate(-90deg);
        font-weight: 400;
        font-size: 16px;
    }
    
    .navlinks {
        width: 80%;
        height: 9vh;
        display: flex;
        justify-content: flex-end;
        position: fixed;
        background-color: transparent;
        top: 0;
        left: 20%;
        transform: translateY(0%);
        z-index: 1100;
        color: #fff;
        text-decoration: none;
    }
    
    
    
    .navlinks ul {
        display: flex;
        width: 780px;
        height: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 5% 0 0%;
        top: 0;
        left: 0;
    }
    
    .navlinks ul li {
        list-style: none;
        height: 25px;
        position: relative;
    }
    
    .navlinks a:hover {
        text-decoration: none;
        color: #000;
    }

    .navlinks a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        position: relative;
    }

    nav.sticky > .navlinks a {
        color: #000;
    }

    .navlinks a::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        z-index: 1;
        background-color: #000;
        transform-origin: 0 0;
        transition: transform 0.3s;
        transform: scaleX(0);
        /* transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); */
    }

    .navlinks a:hover::before {
        transform: scaleY(1);
    }
    
    
    /* codepen burger */
    .burger-container {
        display: none;
    }
    
    
    /* header section */
    header {
        width: 100%;
        height: 100vh;
    }

    .header__text-continer h1 {
        font-size: 100px;
        font-weight: 600;
    }

    
/* artworks section */

    .section-title {
        font-size: 100px;
        letter-spacing: -2px;
        color: #000;
        font-weight: 600;
    }
    .art-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    .artwork {
        height: 450px;
        width: 25%;
        border-top: 1.5px solid #000;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 0.3s linear;
    }

    .artwork :hover {
        color: #fff;
    }

    .artwork ::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #000;
        transform-origin: 0 0;
        transition: transform 0.3s;
        transform: scaleY(0);
        /* transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); */
    }

    .artwork :hover::before {
        transform: scaleY(1);
    }

    .art-container .artwork:nth-child(even) {
        border-right: 1.5px solid #000;
    }

    .art-container .artwork:last-child {
        border-right: none;
    }

    .artwork-img {
        height: 260px;
        width: 260px;
    }

    .artist-name {
        font-size: 26px;
    }

    .artwork-name {
        font-size: 20px;
    }

    .price {
        font-size: 16px;
    }

    .artwork:hover > .artist-name,
    .artwork:hover > .artwork-name,
    .artwork:hover > .price {
        color: #fff;
    }

    .artist-name:hover > .artwork ,
    .artwork-name:hover > .artwork ,
    .price:hover > .artwork


    .btn-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-top: 1.5px solid #000;
        padding: 25px 0% 40px;

    }

    .cta-btn {
        border: 1.5px solid #000;
        height: 40px;
        width: 160px;
        display: grid;
        place-items: center;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        text-decoration: none;
        outline: none;
        position: relative;
        transition: all 0.3s linear;

    }

    .cta-btn:hover {
        color: #fff;
        font-weight: 400;

    }

    .cta-btn::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #000;
        transform-origin: 0 0;
        transition: transform 0.3s;
        transform: scaleY(0);
        /* transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); */
    }

    .cta-btn:hover::before {
        transform: scaleY(1);
    }


    
    /* editorial section */
    .editorial-section {
        background-color: #000;
    }

    .editorial {
        color: #fff;
        padding: 30px 5%;
    }

    .editorial-container {
        display: flex;
        overflow-y: hidden;
        gap: 20px;
        overflow-x: hidden;
    }

    .featured-cusor {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #000;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px 0;
        transition: all 0.3s ease-in;
        transform: translate(-50px, -50px);
        pointer-events: none;
    }

    .featured-cusor p {
        text-align: center;
        color: #fff;
    }

    .article {
        width: 400px;
        height: 550px;
        text-decoration: none;
        position: relative;
    }

    .article:hover {
        text-decoration: none;
    }

    .editorial-img-container {
        width: 400px;
        height: 350px;
        overflow: hidden;
    }

    .editorail-img {
        background-color: aqua;
        width: 400px;
        height: 350px;
        margin-bottom: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: scale 0.3s ease-in;
    }

    .editorail-img1 {
        background-image: url(/images/nelson.jpg);
        scale: 1;
    }

    .article:hover .editorail-img {
        scale: 1.2;
    }

    .date {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 200;
        position: relative;
    }

    .article > .date::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100px;
        height: 1px;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.7);
        transform-origin: 0 0;
        transition: transform 0.3s;
        transform: scaleX(0);
        /* transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); */
    }

    .article:hover > .date::before {
        transform: scaleX(1);
    }

    .article-name-container {
        width: 150px;
    }

    .article-name {
        font-size: 26px;
        font-weight: 300;
        color: #fff;
        line-height: 1;
        width: 100%;
        display: inline;
        transition: 0.3s ease;
        margin-top: 5px;
        position: relative;
        /* background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-image: linear-gradient(#fff, #fff); */
    }

    .article > .article-name::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100px;
        height: 1px;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.7);
        transform-origin: 0 0;
        transition: transform 0.3s;
        transform: scaleX(0);
        /* transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); */
    }

    .article:hover > .date::before {
        transform: scaleX(1);
    }

    .eidtorial-btn-container {
        width: 100%;
        padding: 0 5% 40px;
        display: flex;
        justify-content: flex-end;
        
    }

    .editorial-btn {
        border: 1.5px solid #fff;
        height: 45px;
        width: 180px;
        display: grid;
        place-items: center;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        position: relative;
        transition: all 0.3s linear;
        z-index: 2;
    }

    .editorial-btn:hover {
        color: #000;
        z-index: 7;
    }

    .editorial-btn::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #fff;
        transform-origin: 0 0;
        transition: transform 0.3;
        transform: scaleY(0);
        /* transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); */
    }

    .editorial-btn:hover::before {
        transform: scaleY(1);
    }


    /* exhibitions-section */

    .exhibition-img-container {
        height: 75vh;
    }

    .slider{
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
        background-color: blueviolet;
    }

    .transition {
        transition:.5s linear;
    }
    .slide{
        width:100%;
        height:100%;
        position:absolute;
        top:0%;
        left:0%;
        display:flex;
        align-items:center;
        justify-content:center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slide_1{
        background-image: url(/images/exhibition1.jpg);
    }
    .slide_2{
        background-image: url(/images/exhibition2.jpg);
    }
    .slide_3{
        background-image: url(/images/exhibition3.jpg);
    }
    .slide_4{
        background-image: url(/images/exhibition4.jpg);
    }


    .exhibition-btns {
        height: 90px;
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 30px 0  ;
        position: relative;
    }

    .prev,
    .next{
        cursor:pointer;
        height: 50px;
        max-width: 50px;
        border: 1.5px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

    }


    .prev svg,
    .next svg {
        scale: 1.5;
        position: absolute;
        display: grid;
        place-items: center;
        top: 30px;
        left: 30px;
        /* transform: translate(-50%, -50%); */
    }

    .title {
        font-size: 100px;
        font-weight: 700;
        letter-spacing: -3px;
        text-transform: uppercase;
        padding: 30px 0 20px;
    }

    .ex-btn-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }




    /* footer section */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 5%;
        /* justify-content: center; */
    }

    .footer-content-container {
        background-color: aqua;
        width: 300px;

    }

    .size-container {
        width: 100%;
        border: none;
    }

    .footer-logo {
        font-size: 120px;
        letter-spacing: -2px;
        border: none;
    }

    footer span {
        position: absolute;
        font-size: 45px;
        top: 65px;
        left: 300px;
        display: none;
        border: none;
    }

    .slogan-container {
        border: none;
        border-bottom: 0px solid rgba(255, 255, 255, 0.7);
    }

    .slogan {
        font-size: 24px;
        font-weight: 300;
        width: 190px;
        border: none;
    }

    .footer-links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        background-color: lightcoral;
    }

    .footer-navlinks {
        /* background-color: lightblue; */
        width: 50%;
        border-bottom: 0px solid rgba(255, 255, 255, 0.7);
    }

    .footer-navlinks li {
        border-bottom: 0px solid rgba(255, 255, 255, 0.7);
        justify-content: center;
        display: flex;
        width: 100%;
    }

    .footer-navlinks li:last-child {
        border-bottom: none;
    }

    .footer-navlinks a {
        font-size: 30px;
        text-align: center;
    }



    .news {
        width: 50%;
        /* background-color: lightcoral; */
    }

    .news-heading {
        font-size: 50px;
    }

    .email-container {
        display: flex;
        width: 400px;
        /* outline: none; */
        padding-top: 20px;
    }

    .email-container input {
        width: 70%;
        height: 65px;
        background-color: #000;
        border-top: 1.5px  solid #fff;
        border-bottom: 1.5px  solid #fff;
        border-left: 1.5px  solid #fff;
        /* border: 2px  solid #fff; */
        color: #fff;
        padding: 0 26px;
        font-size: 20px;
        outline: none;
    }

    .email-container button {
        width: 30%;
        outline: none;
        font-size: 20px;
        color: #fff;
        background-color: #000;
        border: 1.5px solid #fff;
        font-weight: 300;
        outline: none;
    }

    .copyright-container {
        border-top: 0px solid rgba(255, 255, 255, 0.7);
    }

    .copyright-container p {
        padding: 15px 0;
        font-size: 18px;
    }











    /* contact page */
    .contact-bg {
        background-color: #000;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 10vh 5%;
    }

    .contact-info {
        background-color: aqua;
        height: 100%;
        width: 50%;
        
    }

    .contact-form form{
        padding: 40px ;
        display: flex;
        flex-direction: column;
    }

    form input {
        outline: none;
        background-color: #000;
        height: 50px;
        width: 300px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1.5px solid #fff;
    }

}











