@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    color: #fff;
    padding: 0 5%;
    z-index: 1000;
    height: 50px;
    border-bottom: 1px solid #fff;

}

nav.sticky {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #000;
    border-bottom: 1px solid #000;
    padding: 0 5%;
    height: 50px;
    z-index: 1000;
    background-color: #fff;
}

nav.active {
    border-bottom: 1px solid #fff;
    background-color: #000;
}

.logo {
    position: relative;
    border-right: 1px solid #fff;
    width: 100px;
    text-decoration: none;
    height: 50px;
    /* mix-blend-mode: difference; */
}

nav.sticky .logo {
    border-right: 1px solid #000;
}

.logo.active {
    border-right: 1px solid #fff;
}

.logo.active h6,
.logo.active .logo-span {
    color: #fff;
}



.logo h6 {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    /* mix-blend-mode: difference; */
}

nav.sticky .logo h6 {
    font-size: 30px;
    font-weight: 800;
    color: #000
}

.logo-span {
    position: absolute;
    left: 70px;
    top: 14px;
    transform: rotate(-90deg);
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}

nav.sticky .logo-span {
    position: absolute;
    left: 70px;
    top: 14px;
    transform: rotate(-90deg);
    font-weight: 400;
    font-size: 12px;
    color: #000;
    /* mix-blend-mode: difference; */
}

.navlinks {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.35s ease-in-out;
    z-index: 900;
}

.navlinks.open {
    transform: translateY(0);
    
}

.navlinks ul {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 200px 0;
    top: 0;
    left: 0;
}

.navlinks ul li {
    list-style: none;
    height: 25px;
}

.navlinks a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}


/* codepen burger */
.burger-container {
    /* position: absolute; */
    left: 0;
    top: 0;
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.burger {
    --burger-height: 25px;
    --stick-width: 35px;
    --stick-height: 2px;
    --stick-color: #fff;
    --transition-duration: 0.2s;
    
    position: relative;
    width: var(--stick-width);
    height: var(--burger-height);
    cursor: pointer;
    overflow: hidden;
}

nav.sticky .burger {
    --burger-height: 25px;
    --stick-width: 35px;
    --stick-height: 2px;
    --stick-color: #000;
    --transition-duration: 0.2s;
    
    position: relative;
    width: var(--stick-width);
    height: var(--burger-height);
    cursor: pointer;
    overflow: hidden;
}

.stick {
    /* mix-blend-mode: difference; */
    position: absolute;
    height: var(--stick-height);
    width: var(--stick-width);
    background-color: var(--stick-color);
    border-radius: 2px;
    transition: transform ease-in-out, width ease-in-out;
    transition-duration: var(--transition-duration);
}

.stick:nth-child(1) {
    top: 0;
}

.stick:nth-child(2),
.stick:nth-child(3),
.stick:nth-child(4) {
    top: 0;
    bottom: 0;
    margin: auto;
}

.stick:nth-child(5) {
    bottom: 0;
}

.burger.active .stick:nth-child(even) {
    transition-delay: var(--transition-duration);
    background-color: #fff;
}

.burger:not(.active) .stick:nth-child(odd) {
    transition-delay: var(--transition-duration);
}

.burger.active .stick:nth-child(odd) {
    width: 0;
}

.burger.active .stick:nth-child(2) {
    transform: rotate(45deg);
}

.burger.active .stick:nth-child(4) {
    transform: rotate(-45deg);
}

/* header section */
header {
    width: 100%;
    height: 100vh;
}

.home_header {
    background-image: url(/images/dim-hou-oHgMZCwPiNM-unsplash.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

.header__text-continer {
    padding: 0 10%;
    height: 100%;
    width: 100%;
    background-color: #0000007e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.header__text-continer h1 {
    text-align: center;
}


/* artworks section */
.section-title {
    font-size: 30px;
    letter-spacing: -1px;
    padding: 20px 5% 30px;
    mix-blend-mode: difference;
}
.art-container {
    display: flex;
    flex-direction: column;
}

.artwork {
    height: 450px;
    border-top: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.artwork-img {
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.img1 {
    background-image: url(/images/2.jpg);
}
.img2 {
    background-image: url(/images/6.jpg);
}
.img3 {
    background-image: url(/images/9.png);
}
.img4 {
    background-image: url(/images/13.jpg);
}
.img5 {
    background-image: url(/images/8.jpg);
}
.img6 {
    background-image: url(/images/11.jpg);
}
.img7 {
    background-image: url(/images/12.jpg);
}
.img8 {
    background-image: url(/images/10.jpg);
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #000;
    padding: 25px 5% 40px;
}

.cta-btn {
    border: 1px solid #000;
    height: 35px;
    width: 120px;
    display: grid;
    place-items: center;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}


/* editorial section */
.editorial-section {
    background-color: #000;
    padding-bottom: 40px;
}

.editorial {
    color: #fff;
}

.editorial-container {
    display: flex;
    overflow-y: hidden;
    padding: 0 5%;
    gap: 20px;
}

.editorial-container::-webkit-scrollbar {
    display: none;
}

.article {
    width: 250px;
    height: 320px;
    text-decoration: none;
}

.editorail-img {
    background-color: aqua;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.editorail-img1 {
    background-image: url(/images/nelson.jpg);
}

.date {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
}

.article-name {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 1;
    width: 150px;
}

.editorial-btn {
    border: 1px solid #fff;
    height: 35px;
    width: 120px;
    display: grid;
    place-items: center;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-left: 5%;
}



/* exhibitions-section */
.exhibitions-section {
    padding: 50px 5%;
}

.exhibition-img-container {
    width: 100%;
    height: 300px;
    background-color: #000;
    position: relative;
}

.slider{
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    background-color: blueviolet;
}

.transition {
    transition:.5s linear;
}
.slide{
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide_1{
    background-image: url(/images/exhibition1.jpg);
}
.slide_2{
    background-image: url(/images/exhibition2.jpg);
}
.slide_3{
    background-image: url(/images/exhibition3.jpg);
}



.exhibition-btns {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.prev{
    cursor:pointer;
    height: 40px;
    width: 40px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.next{
    cursor:pointer;
    height: 40px;
    width: 40px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.prev svg,
.next svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
    text-transform: uppercase;
    padding: 10px 0 20px;
    color: #000;
}

.ex-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}




/* footer section */
footer {
    background-color: #000;
    color: #fff;
    position: relative;
}

.footer-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.size-container {
    width: 270px;

}

.footer-logo {
    font-size: 100px;
    letter-spacing: -2px;
}

footer span {
    position: absolute;
    font-size: 40px;
    transform: rotate(-90deg);
    top: 56px;
    left: 292px;
}

.slogan-container {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.7);
}

.slogan {
    padding: 10px 5%;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    width: 130px;
}

.footer-navlinks {
    width: 100%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.7);
    padding: 0 5% ;
}

.footer-navlinks li {
    list-style: none;
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.7);

}

.footer-navlinks li:last-child {
    border-bottom: none;
}

.footer-navlinks a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    line-height: 2;
}

.newsletter-container {
    width: 100%;
    padding: 40px 5%;
    display: grid;
    place-items: center;
}

.news-heading {
    font-size: 40px;
}

.email-container {
    display: flex;
    width: 100%;
    /* outline: none; */
    padding-top: 20px;
}

.email-container input {
    width: 70%;
    height: 50px;
    background-color: #000;
    border-top: 1px  solid #fff;
    border-bottom: 1px  solid #fff;
    border-left: 1px  solid #fff;
    border: 1px  solid #fff;
    color: #fff;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
}

.email-container button {
    width: 30%;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    font-weight: 300;
}

.copyright-container {
    display: grid;
    place-items: center;
    width: 100%;
    border-top: 0.3px solid rgba(255, 255, 255, 0.7);

}

.copyright-container p {
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}









/* contact page */
.contact-bg {
    background-color: #000;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    padding: 10vh 5%;
}

.contact-info {
    width: 100%;
}

.contact-form form{
    /* padding: 40px ; */
    display: flex;
    flex-direction: column;
}

form input {
    outline: none;
    background-color: #000;
    height: 70px;
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1.5px solid #fff;
}















/* article pages */
.article__header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20vh 5% 10vh;
    height: 70vh;
}

.article__heading {
    text-align: center;
}

.article__picture-container {
    width: 100%;
    height: 400px;
    background-color: aquamarine;
}

.article__text-container {
    width: 100%;
    padding: 40px 5%;
    /* background-color: lightblue; */
}























































