@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 0 5%;
    height: 50px;
    z-index: 1000;
    background-color: #fff;
}

nav.active {
    border-bottom: 1px solid #fff;
    background-color: #000;
}

.logo {
    position: relative;
    border-right: 1px solid #000;
    width: 100px;
    height: 50px;
    /* mix-blend-mode: difference; */
}



.logo.active {
    border-right: 1px solid #fff;
}
.logo.active h6,
.logo.active .logo-span {
    color: #fff;
}

.logo h6 {
    font-size: 30px;
    font-weight: 800;
    /* mix-blend-mode: difference; */
}

.logo-span {
    position: absolute;
    left: 60px;
    top: 14px;
    transform: rotate(-90deg);
    font-weight: 400;
    font-size: 13px;
    /* mix-blend-mode: difference; */
}

.navlinks {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.35s ease-in-out;
}

.navlinks.open {
    transform: translateY(0);
    
}

.navlinks ul {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 200px 0;
    top: 0;
    left: 0;
}

.navlinks ul li {
    list-style: none;
    height: 25px;
}

.navlinks a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}


/* codepen burger */
.burger-container {
    /* position: absolute; */
    left: 0;
    top: 0;
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.burger {
    --burger-height: 25px;
    --stick-width: 35px;
    --stick-height: 2px;
    --stick-color: #000;
    --transition-duration: 0.2s;
    
    position: relative;
    width: var(--stick-width);
    height: var(--burger-height);
    cursor: pointer;
    overflow: hidden;
}

.stick {
    /* mix-blend-mode: difference; */
    position: absolute;
    height: var(--stick-height);
    width: var(--stick-width);
    background-color: var(--stick-color);
    border-radius: 2px;
    transition: transform ease-in-out, width ease-in-out;
    transition-duration: var(--transition-duration);
}

.stick:nth-child(1) {
    top: 0;
}

.stick:nth-child(2),
.stick:nth-child(3),
.stick:nth-child(4) {
    top: 0;
    bottom: 0;
    margin: auto;
}

.stick:nth-child(5) {
    bottom: 0;
}

.burger.active .stick:nth-child(even) {
    transition-delay: var(--transition-duration);
    background-color: #fff;
}

.burger:not(.active) .stick:nth-child(odd) {
    transition-delay: var(--transition-duration);
}

.burger.active .stick:nth-child(odd) {
    width: 0;
}

.burger.active .stick:nth-child(2) {
    transform: rotate(45deg);
}

.burger.active .stick:nth-child(4) {
    transform: rotate(-45deg);
}

/* header section */
header {
    width: 100%;
    height: 100vh;
}



/* artworks section */
.section-title {
    font-size: 30px;
    letter-spacing: -1px;
    padding: 20px 5% 30px;
    mix-blend-mode: difference;
}
.art-container {
    display: flex;
    flex-direction: column;
}

.artwork {
    height: 450px;
    border-top: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artwork-img {
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.img1 {
    background-image: url(/images/2.jpg);
}
.img2 {
    background-image: url(/images/6.jpg);
}
.img3 {
    background-image: url(/images/9.png);
}
.img4 {
    background-image: url(/images/13.jpg);
}
.img5 {
    background-image: url(/images/8.jpg);
}
.img6 {
    background-image: url(/images/11.jpg);
}
.img7 {
    background-image: url(/images/12.jpg);
}
.img8 {
    background-image: url(/images/10.jpg);
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #000;
    padding: 25px 5% 40px;
}

.cta-btn {
    border: 1px solid #000;
    height: 35px;
    width: 100px;
    display: grid;
    place-items: center;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}


/* editorial section */
.editorial-section {
    background-color: #000;
}

.editorial {
    color: #fff;
}

.editorial-container {
    display: flex;
    overflow-y: hidden;
    margin: 0 5%;
    gap: 20px;
}

.article {
    width: 250px;
    height: 320px;
    text-decoration: none;
}

.editorail-img {
    background-color: aqua;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

.date {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
}

.article-name {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 1;
    width: 150px;
}

.editorial-btn {
    border: 1px solid #fff;
    height: 35px;
    width: 100px;
    display: grid;
    place-items: center;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}





/* tablet screen */
/* @media screen and (min-width: 768px) {
    
} */


/* laptop screen */
/* @media screen and (min-width: 1024px) {
    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #000;
        padding: 0 25px;
    }
    
    .logo {
        position: relative;
        background-color: aquamarine;
        border-right: 1px solid #000;
        width: 150px;
    }
    
    .logo h6 {
        font-size: 50px;
        font-weight: 800;
    }
    
    .logo-span {
        position: absolute;
        left: 100px;
        top: 28px;
        transform: rotate(-90deg);
        font-weight: 600;
    }
    
    .navlinks ul {
        display: flex;
        width: 500px;
        justify-content: space-between;
        align-items: center;
    }
    
    .navlinks ul li {
        list-style: none;
    }
    
    .navlinks a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
    }
    
} */